@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --font_fam: 'Montserrat', sans-serif;
  --bg-color: #000;
  --fnt_color: #fff;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body{
    font-family: var(--font_fam);
    background: red;
    color: var(--fnt_color);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body{
    font-family: var(--font_fam);
    background: blue;
    color: var(--fnt_color);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body{
    font-family: var(--font_fam);
    background: green;
    color: var(--fnt_color);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body{
    font-family: var(--font_fam);
    background: yellow;
    color: var(--fnt_color);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{
    font-family: var(--font_fam);
    background: cyan;
    color: var(--fnt_color);
  }
}

/* body{
  font-family: var(--font_fam);
  background: var(--bg-color);
  color: var(--fnt_color);
} */
